<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kattis Problem Sets</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>

    <header>
        <h1>Problem Sets for CS3XX CP</h1>
        <p>Problems for the <a href="https://open.kattis.com/" target="_blank">Kattis Archives</a></p>
    </header>

    <section class="main">
        <h2>Problems</h2>

        <div class="collapsible" onclick="toggleTable('intro')">
            <span class="arrow">&#9658;</span>
            <span>PS01: Introduction</span>
        </div>
        <div class="content" id="intro">
            <table>
                <tr> <th>#</th> <th>Problems</th> <th>Comments</th> <th>Difficulty</th></tr>
                <tr> <td>1</td> <td><a href="https://open.kattis.com/problems/different" target="_blank">A Different Problem</a></td> <td>simple I/O</td> <td>easy</td></tr>
                <tr> <td>2</td> <td><a href="https://open.kattis.com/problems/cold" target="_blank">Cold-puter Science</a></td> <td>simple I/O</td> <td>easy</td></tr>
                <tr> <td>3</td> <td><a href="https://open.kattis.com/problems/server" target="_blank">Server</a></td> <td>simple I/O</td> <td>easy</td></tr>
                <tr> <td>4</td> <td><a href="https://open.kattis.com/problems/abc" target="_blank">ABC</a></td> <td>simple I/O</td> <td>easy</td></tr>
                <tr> <td>5</td> <td><a href="https://open.kattis.com/problems/bijele" target="_blank">Bijele</a></td> <td>simple I/O</td> <td>easy</td></tr>
                <tr> <td>6</td> <td><a href="https://open.kattis.com/problems/flexible" target="_blank">Flexible Spaces</a></td> <td>I/O prob + Ad Hoc</td> <td>easy-medium</td></tr>
                <tr> <td>7</td> <td><a href="https://open.kattis.com/problems/3dprinter" target="_blank">3D Printed Statues</a></td> <td>-</td> <td>esay-medium</td></tr>
                <tr> <td>8</td> <td><a href="https://open.kattis.com/problems/mandelbrot" target="_blank">Mendelbrot</a></td> <td>-</td> <td>medium</td></tr>
                <tr> <td>9</td> <td><a href="https://open.kattis.com/problems/basicprogramming1" target="_blank">Basic Programming 1</a></td> <td>-</td> <td>medium</td></tr>
                <tr> <td>10</td> <td><a href="https://open.kattis.com/problems/screen" target="_blank">Hacking the Screen</a></td> <td>Ad hoc</td> <td>medium-hard</td></tr>
                <tr> <td>11</td> <td><a href="https://open.kattis.com/problems/slidecount" target="_blank">Slide Count</a></td> <td>Ad hoc</td> <td>medium-hard</td></tr>
                <tr> <td>12</td> <td><a href="https://open.kattis.com/problems/associativeexponents" target="_blank">Associative Exponents</a></td> <td>Ad Hoc</td> <td>medium-hard</td></tr>
            </table>
        </div>


    </section>




    <script src="../script.js"></script>
</body>
</html>